<html ng-app="store"> <!--runs module when this tag loads-->
  <head>
    <!--include twitter bootstrap ref -->
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
  </head>
  <body ng-controller="StoreController as store">
    <ul class="list-group">
      <!--can attack limitTo and orderBy filter to -->
      <li class="list-group-item" ng-repeat="product in store.products">
      <h3>
        {{product.name}}
        <em class="pull-right"> {{product.price | currency}}</em>
        <!--use ng-src here because otherwise browser will load src before eval -->
        <img ng-src="{{product.images[0].full}}"/>
      </h3>
      </li>
    </ul>
    <!--
    <div ng-repeat="product in store.products" >
      {{product.name}} 
      <button ng-show="product.canPurchase">Purchase</button>
    </div>
    -->
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>

</head>
</html>
